@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.panel-admin {
  position: relative; /* Necesario para el pseudo-elemento */
  background-image: url('/FotoPanelAdmin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 0;

  /* Flex centrar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Capa negra semitransparente encima de la imagen */
.panel-admin::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* negro con 50% opacidad */
  z-index: 1;
}

/* Para que el contenido esté encima del overlay */
.dashboard {
  position: relative;
  z-index: 2;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin-left: 200px;
}


.dashboard-header h2 {
  color: rgb(255, 255, 255);
  text-align: center;

  margin-left:-200px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.dashboard-card {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.15);
}

.dashboard-card img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.dashboard-card p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
