/* PanelUsuario.css */
.panelusuario {
  background-image: url('/FotoPanelUsuario.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 0px;

  /* Centramos el contenido */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Encabezado */

.dashboard-header h2 {
  margin-top: -50%;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

/* Grid */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 600px;
}


/* Tarjetas */
.dashboard-card {
  background-color: #ffffff;
  border: 1px solid #bbff00;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgb(255, 255, 255);
}

.dashboard-card img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.dashboard-card p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
